<!DOCTYPE html>
<html>

<head>
    <title>Error</title>
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.4.9/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.4.9/dist/cdn/beer.min.js"></script>
    <script type="module"
        src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.0/dist/cdn/material-dynamic-colors.min.js"></script>
    <style>
        :root {
            --primary: #3788d8;
        }
    </style>
</head>

<body>
    <main class="responsive">
        <header>
            <nav>
                <a href="https://github.com/Dragon863/Tizen-HA">
                    <button class="circle transparent">
                        <i>code</i>
                    </button>
                </a>

                <h5 class="max center-align">Home Assistant Tizen</h5>
                <button class="square transparent">
                    <img class="responsive"
                        src="https://upload.wikimedia.org/wikipedia/en/thumb/4/49/Home_Assistant_logo_%282023%29.svg/120px-Home_Assistant_logo_%282023%29.svg.png">
                </button>
            </nav>
        </header>
        <article class="no-padding">
            <div class="padding center-align middle-align">
                <h5>An error occurred. Please check your values and try again</h5>
            </div>
        </article>

    </main>

</body>

</html>